*,*::before,*::after{
    box-sizing: border-box;
}
*{
    margin:0;
}
img,picture,video,canvas,svg{
    display: block;
    max-width: 100%;
}
input,button,textarea,select{
    font:inherit;
}
p,h1,h2,h3,h4,h5,h6{
    overflow-wrap: break-word;
}
body{
    line-height: 1.5;
}
input{
    text-align: center;
}
.content{
    width: 100%;
    height: 100vh;
    height: 100svh;
    background-color:#333;
    color:#fff;
    display: grid;
    place-items: center;
}
.lcard{
    display: grid;
    gap:.5rem;
    place-items: center;
}
.lcard .info span{
    padding:.3rem;
    border-radius: .3rem;
}
.lcard .info span:nth-of-type(1){
    background-color: darkorchid;
}
.lcard .info span:nth-of-type(2){
    background-color: steelblue;
}
.lcard .info span:nth-of-type(3){
    background-color: crimson;
}
.lcontainer{
    background:#0005;
    border-radius:.3rem;
    padding:1rem;
    width:90vw;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(3ch,auto));
    gap:.5rem;
}
.lcontainer>*{
    text-align: center;
}